@page "/counter"
@using CoreLib_Common

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    /// <summary>
    /// 
    /// </summary>
    public void Blazor1()
    {
        using var context = new AnimalContext();

        var elves = context.Elves;

        Console.ForegroundColor = ConsoleColor.Magenta;

        var deer = elves.FirstOrDefault().Deer;

        Console.ForegroundColor = ConsoleColor.White;
    }
   
}
