@page "/counter"
@using DB_First_Core_Lib.Models

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    /// <summary>
    /// 
    /// </summary>
    public void Blazor1()
    {
        using var context = new AdventureWorksContext();
        var addresses = context.Addresses;

        foreach (var address in addresses)
        {
            var a = address.BusinessEntityAddresses;
        }
    }

}